# 02-Advanced: Data analysis
For these exercises we are going to do some text and more advanced analysis. To experience some interesting functions and specialised libraries in Python, we will use a dataset from AirBnB to explore some basic text analytics.

## Text data
Often we will need to work with unstructured data like text, images, or audio. To use unstructured data in analyis, we will often need to convert it into something more useable, something more "quantified".

Let's start easy by loading a `.csv` file containing some text data we plan to analyse. Run the code below to load `reviews_sample.csv`.

In [3]:
import pandas as pd
df_reviews = pd.read_csv('../data/reviews_sample.csv')
df_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,9709741,109528347,2016-10-22,16329759,Gerrit,"Very nice and clean room, we had everything we..."
1,25305896,495585915,2019-07-26,170196997,Grace,Great place to stay for a few nights in London...
2,26709683,306268165,2018-08-12,15285494,Xiao Zuo,The host is very kind and the place is amazing!
3,27425883,355242699,2018-12-03,7738609,André,Guests can expect a great hospitality. The stu...
4,1091147,462433928,2019-06-02,257649113,Santiago,I have a great stay. I recommend Andonis house.

### Exercise-01: Cleaning text
We want to analyse the `comments` column, but we first need to remove rows with `nan` values in the `comments` column. Use what you learned in basic level notebook (in section of data preparation) to do this below.

In [4]:
# (SOLUTION)

0

### Exercise-02: Analysing text
Now the text data is cleaned, we are going to convert the text to quantities of interest. A common way to do this is to estimate the *sentiment* of the text. There are many ways to analyse sentiment, and here we are going to use the [VADER](https://www.nltk.org/_modules/nltk/sentiment/vader.html) sentiment analytics tool which is included in the [NLTK](https://www.nltk.org/) (Natural Language Toolkit) package.

Run the code below to import `nltk`, import the `SentimentIntensityAnalyzer` class from `nltk`, download the `vader_lexicon`, and create an instance of `SentimentIntensityAnalyzer`.

In [5]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')
scorer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\zmh02\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

Now we have loaded our sentiment analysis tool, we can calculate the sentiment of the comments in the Airbnb reviews. To do this, we are going to create a `calculate_sentiment` function and then apply it to a small sample (`N=5`) of rows from `df_reviews`. To focus our attention on the columns `['comments','sentiment']` we are going to show only those in the `head()` of `df_reviews_sample`. Please run the code below and watch the magic happen!

In [10]:
def calculate_sentiment(comment):
    return(scorer.polarity_scores(comment)['compound'])

N = 5
df_reviews_sample = df_reviews.sample(N)
df_reviews_sample.loc[:,'sentiment'] = df_reviews_sample['comments'].apply(calculate_sentiment)
df_reviews_sample[['comments','sentiment']].head()

                                                comments  sentiment
12674  Good location and accessibility. Walking dista...     0.4404
91309  Wonderful hospitality by Carolyn. Wandsworth i...     0.9042
92883  Shari is lovely and the perfect hostess! We ab...     0.9229
50081  마트가 길 건너자마자 있는 점은 매우 좋았습니다. 방 넓이도 충분했고 청결도도 나쁘...     0.0000
18054  Very nice host and lovely apartment! Tube is j...     0.8775

Run the above code a few times, to get a feel for how the sentiment analysis tool is working. Is there anything unexpected/interesting?

## Segmented data
Sometimes we want to perform analysis on only a segment on the data. For example, someone might ask *what is the most expensive listing in London?*, and to solve this we would only need to analysis data for listings based in London.

To explore this idea, let's analyse some segments of the `listings_sample.csv` data. Run the code below to load `listings_sample.csv`.

In [11]:
import pandas as pd
df_listings = pd.read_csv('../data/listings_sample.csv')
df_listings.head()

,host_id,id,name,description,neighborhood_overview,neighbourhood,latitude,longitude,room_type,accommodates,...,amenities,price,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,43039,11551,Arty and Bright London Apartment in Zone 2,Unlike most rental apartments my flat gives yo...,Not even 10 minutes by metro from Victoria Sta...,"London, United Kingdom",51.46095,-0.11758,Entire home/apt,4,...,"[""Hair dryer"", ""Essentials"", ""Washer"", ""Lockbo...",$110.00,193,91.0,9.0,9.0,10.0,10.0,9.0,9.0
1,54730,13913,Holiday London DB Room Let-on going,My bright double bedroom with a large window h...,Finsbury Park is a friendly melting pot commun...,"Islington, Greater London, United Kingdom",51.56861,-0.11270,Private room,2,...,"[""Kitchen"", ""Host greets you"", ""Bed linens"", ""...",$40.00,21,97.0,10.0,10.0,10.0,10.0,9.0,9.0
2,60302,15400,Bright Chelsea Apartment. Chelsea!,Lots of windows and light. St Luke's Gardens ...,It is Chelsea.,"London, United Kingdom",51.48780,-0.16813,Entire home/apt,2,...,"[""Kitchen"", ""Hangers"", ""Fire extinguisher"", ""L...",$75.00,89,96.0,10.0,10.0,10.0,10.0,10.0,9.0
3,67564,17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,You'll have a wonderful stay in this superb mo...,"Location, location, location! You won't find b...","London, Fitzrovia, United Kingdom",51.52195,-0.14094,Entire home/apt,6,...,"[""Dishwasher"", ""Kitchen"", ""Bed linens"", ""Hange...",$307.00,42,94.0,10.0,9.0,9.0,9.0,10.0,9.0
4,103583,25123,Clean big Room in London (Room 1),Big room with double bed/ clean sheets/ clean ...,Barnet is one of the largest boroughs in Londo...,"Barnet, England, United Kingdom",51.57438,-0.21081,Private room,2,...,"[""Essentials"", ""Kitchen"", ""Washer"", ""Hair drye...",$29.00,129,96.0,10.0,10.0,10.0,10.0,9.0,10.0

Let's assume we want to segment the listings by `room_type`. First, let's take a quick look at how many listings of each `room_type` there are in `df_listings`. To do this, we can use the `value_counts()` method. Please run the code below.

In [12]:
df_listings['room_type'].value_counts().head()

Entire home/apt    15623
Private room       11579
Hotel room           176
Shared room          148
Name: room_type, dtype: int64

### Exercise-03: Identify luxury homes
You are a business analyst at a company which a business development manager who asks you to identify the 5 most expensive listings which are entire homes/apartments.

To do this, you first need to create a new `price_$` column in `df_listings` like we did in `01-Basic.ipynb`. Please do that using the `format_price` function written below.

In [34]:
def format_price(price):
    return(float(price.replace('$','').replace(',','')))

# (SOLUTION)

     price  price_$
0  $110.00    110.0
1   $40.00     40.0
2   $75.00     75.0
3  $307.00    307.0
4   $29.00     29.0

Now we have price values in a format we can use, we can segment the data and run our analysis to meet the manager's request. To do this, we will:

1. Segment `df_listings` to create a new `DataFrame` named `df_entire_home_apt` which contains only listings with `room_type` equal to `Entire home/apt` and review_scores_rating > 80.
2. Sort the rows of `df_entire_home_apt` by the values in `price_$` from largest (most expensive) to smallest (cheapest).
3. Display the top 5 rows to show columns we think most relevant for the 5 most expensive listings which are entire homes/apartments.

We will do all this by running only the 3 lines of code shown below. Please run the code.

In [23]:
df_entire_home_apt = df_listings[(df_listings['room_type']=='Entire home/apt') & 
                                 (df_listings['review_scores_rating'] > 80)]
df_entire_home_apt = df_entire_home_apt.sort_values(by=['price_$'],ascending=False)
df_entire_home_apt[['id','name','description','neighbourhood','price_$','review_scores_rating']].head(5)

,id,name,description,neighbourhood,price_$,review_scores_rating
14629,21670579,Historic 1920s House moments from the Thames,The moment you walk through the door you will ...,"London, United Kingdom",17803.0,93.0
6334,10355508,West End Apartment 1 on Wardour St,This brand new luxury one-bed apartment is on ...,"London, United Kingdom",17803.0,91.0
9823,16117963,Heinze Flat 402 - One bedroom fourth floor flat,This one bedroom apartment is located on the f...,NaN,16023.0,94.0
5293,8335468,Mulberry Flat 5 - One bedroom 3rd floor,One bedroom apartment on the third floor (with...,NaN,16023.0,90.0
6084,9769911,Mulberry Flat 4 - Two bedroom 2nd floor,Two bedroom apartment on the second floor (wit...,NaN,16023.0,96.0

### Exercise 04: Identify budget rooms
the same business development manager now asks you to identify the 5 cheapest listings which are private rooms and located in London without nan value in this variable. Using the above exercise as a guide, run an analysis to meet the manager's request. You will use the filter condition - `df_listings['-----'].str.contains('----', na = False)`

In [24]:
# (SOLUTION)

,id,name,description,neighbourhood,price_$
16650,24449207,NHS frontline staff only - UCH/Whittington staff,"Special, exclusive for front line NHS staff du...","Greater London, England, United Kingdom",9.0
15866,23316611,Charmstay Apartment Large on Piccadilly Line,Beautiful one bedroom apartment for 4 people n...,"Greater London, England, United Kingdom",10.0
13635,20579117,Charmstay - Center Apartment on Jubilee Line,A beautiful two bedroom apartment just 2 minut...,"Greater London, England, United Kingdom",10.0
16907,24787100,Double studio apartment next to Euston Station,Studio apartment ideal for a couple getaway in...,"Greater London, England, United Kingdom",10.0
5268,8299177,Private 4 bedrooms Victorian House,Elegant Victorian House that can host up to 8 ...,"London, United Kingdom",10.0

## Advanced request
Well done so far! Let's now take it too the next level! Let's used what we have learned so far to meet the following request:

*Identify the 5 listings with highest positive mean sentiment of their reviews, such that the listings have at least 5 reviews less than 3 years old*

### Exercise-05: Filter review data
First we need to load `reviews_sample.csv` and filter it to only keep reviews with:
1. values of not `nan` in the `comments` column,
2. values less than 3 years old in the `date` column, and
3. values in the `listing_id` column corresponding to listings with at least 5 reviews.

This can all be done by running the following code.

In [25]:
import pandas as pd
df_reviews = pd.read_csv('../data/reviews_sample.csv')

df_reviews = df_reviews[~df_reviews['comments'].isna()]

df_reviews = df_reviews[df_reviews['date']>'2018-10-05']

listing_counts = df_reviews['listing_id'].value_counts()
valid_listings = listing_counts[listing_counts>=5].index
df_reviews = df_reviews[df_reviews['listing_id'].isin(valid_listings)]

We can do a "sanity check" by running the code below, which should all produce value `0`. Consider how you might use such test to check your code as you develop it.

In [26]:
print(sum(df_reviews['comments'].isna()))
print(sum(df_reviews['date']<='2018-10-05'))
print(sum(df_reviews['listing_id'].value_counts()<5))

0
0
0

### Exercise-06: Analyse review data
We already have most of the pieces we need. Simply `apply` the `calculate_sentiment` function (in the way we did before) to the `comments` column of the (now filtered) `df_reviews` to create a new column named `sentiment` containing the a sentiment value for each reviews comment. Please write the code below and run.

(Note that we are no running the `calculate_sentiment` over every row in the filtered `df_reviews` so it might take a while longer...)

In [28]:
# SOLUTION

                                             comments  sentiment
3   Guests can expect a great hospitality. The stu...     0.9594
5   Really nice host. He is very kind and sympathi...     0.7774
8   Soo is a great host, would love to stay at the...     0.8519
9   Gospodarz miły i przyjazny, chętnie służący po...     0.0000
11  The host(Carlos) was really nice and kind man....     0.9404

Next we need to calculate the mean sentiment for each listing. To do this, we use the `groupby` and `agg` methods on the following way to create a new `DataFrame` named `listing_scored` containing each `listings_id` and the `mean` of its `sentiment` scores. Please run the code below.

In [30]:
listings_scored = df_reviews.groupby('listing_id')['sentiment'].agg(['mean']).reset_index()
listings_scored.head()

   listing_id      mean
0       38605  0.617400
1       42010  0.899200
2       62747  0.753300
3       64429  0.683300
4       84532  0.926786

Finally, we just need to sort the listings in `listings_scored` by their `mean` value (from high to low) and print the top 5. Easy, you've got this! Please use what you've learned before to do this below.

In [32]:
# SOLUTION

      listing_id      mean
2158    33510937  0.981160
2129    32838811  0.978717
92        957861  0.976250
1381    23270833  0.973040
907     17597932  0.971767

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=2c6f047c-21a6-4149-814c-b3f60a9bf973' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>